{% extends 'base.html' %}

{% load crispy_forms_tags %} <!-- after installing crispy, some lines were added in settings.py and this line for it to work -->

{% block content %}

<div class="mx-auto mt-5 p-5 border border-secondary-subtle border-2 rounded" style="width: fit-content;">
    <form method="post">
        {% csrf_token %}
        {{form.as_p}} <!-- to have them on different lines instead -->
        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
</div>

<div class="mx-auto my-5 p-5 border border-secondary-subtle border-2 rounded" style="width: fit-content;">
    <form method="post" enctype="multipart/form-data"> <!-- enctype is for file uploading -->
        {% csrf_token %}
        {{form | crispy}} <!-- for styling the form with crispy -->
        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
</div>

{% endblock %}