<!DOCTYPE html>

<html>
<head>
    <title>Home</title>
    <style>
        h1, h3 {text-align: center;}
        a {text-decoration: none; color: #333;}
    </style>
</head>

<body>

    <h1> <a href="/app_1/">
        This is the App Homepage
    </a> </h1>
    <!-- must have '/' before & after link for anchor -->
    <h3>
        <a href="/">Go Home</a>
    </h3>
    <!-- empty link (home) must be '/' for anchor -->
    
    <h1>--BROWSE-PAGES--</h1>
    <div style="
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5vw;
            margin-top: -40px;
            height: 25px;
            background-color: bisque;
            padding-block: 20px 10px;
            margin-inline: 30vw;
            border-radius: 25px;">
        <h3> <a href="/app_1/temp/">Template</a> </h3>
        <h3> <a href="/app_1/stic/">StaticFiles</a> </h3>
        <h3> <a href="/app_1/utag/">URLtags</a> </h3>
        <h3> <a href="/app_1/inherited/">Inheritance</a> </h3>
    </div>


</body>
</html>