{% extends 'base.html' %}
{% block activeSu %} active {% endblock %}

{% block content %}
    <div class="mx-auto mt-5 p-5 border border-secondary-subtle border-2 rounded" style="width: fit-content;">
        <form method="post" novalidate> <!-- novalidate prevents html validation, so Django can validate -->
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {% for f in form %} <!-- to iterate all the fields in the form -->
            <p>{{f.label_tag}}</p> <!-- field labels -->
            <p>{{f}}</p> <!-- field input boxes -->
            <p class="text-danger">{{f.errors|striptags}}</p>
            <!-- in-built error messages will show when error occurs -->
        {% endfor %}
        <input class="btn btn-primary w-100 my-3" type="submit" value="Submit">
                
        <hr class="bg-dark my-4">
        <a href="{% url 'signin' %}" class="mb-3 text-success">Already Have An Account?</a>
        </form>
    </div>
{% endblock %}